<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bruno.css">
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <section>
            <article>
                <div>
                    BRUNO ACA SOS VOS... METELE ESTILO Y FORMATO A LOCO MAN... LOS BR TE MATARAN
                </div>
            </article>
        </section>
    </main>
<%- include ("../partials/footer") %>

<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>