<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
            <h3 id="textoh3">Tu Carrito(2)</h3>
        <section>
            <article class="contenedor-padre1">
                <img src="/images/bomba-aceite.jpg" alt="Producto" class= "imagen1">
                <div class="detallePC">
                    <div id=modificacion>
                    <h3>BOMBA DE ACEITE</h3>
                    <button class="eliminarP" id="eliminado" type="submit"> -<i class="fa-solid fa-cart-shopping"></i></button>
                    </div >
                       <div id="flex">
                            <div id="cantsub">
                                    <h3 id="espacio">Cantidad</h3>
                                    <p class="cajita"><i class="fa-solid fa-sort"></i>1</p>
                            </div>
                            <div id="cantsub">
                                    <h3 id= "espacio">Subtotal</h3>
                                    <p class="cajita">$4.999</p>
                                    <button class="eliminarPe" id="eliminado" type="submit"> -<i class="fa-solid fa-cart-shopping"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section >
            <article class="totales">
                <h4 >TOTAL DE COMPRA</h4> <h4 class="cajita" id="pTotal">$9998</h4>
            </article>
        </section>
        <section class="contenedor-padre1">
            <article>
                
                <h2 id="cupon">¿TENES UN CUPON?</h2>
                <div class="form1">
                    <form  action="/codigo" method="post" >
                        <p>INGRESAR CODIGO</p>
                        <input type="text" name="codigo" id="codigo" >
                        <button  id="aplicar" type="submit">APLICAR</button>
                    </form>
                </div>
                
            </article>
            <article >
                <form action="/productDetail.html" method="get" id="botones" >
                    <button class="crear-cuenta" id="eleccionP" type="submit">Elegir mas productos</button>
                    <button class="crear-cuenta" id="continuarC" type="submit">Continuar Compra</button>
                </form>
            </article>
        </section>
    </main>
    <!--FOOTER PARTIAL-->
    <%- include ("../partials/footer") %>
    
    <div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>

