<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body id="clase">
<main >    
        <h1>Administrador de Productos</h1>
        <form>
            <!-- Los espacios te mataran y el signo de exclamacion tambien -->
            <!-- <label for="Agregar/Modificar">
                <input id="forma" type="radio" name="Agregar/Modificar" value="Agregar" checked="">Agregar
                <input id="forma" type="radio" name="Agregar/Modificar" value="Modificar">Modificar
            </label>
            <input id="forma" type="text" placeholder="Nombre de Producto">
            <textarea name="descripcion" rows="10" cols="50">Añada aqui la descripcion del Producto</textarea>
            <input id="forma" type="file" placeholder="Imagen" accept=".jpeg"> -->
            <p>Seleccione</p>
            <div>
                <input id="forma" type="radio" id="contactChoice1" name="contact" value="email"><label for="contactChoice1">Agregar Producto</label>
                <input id="forma" type="radio" id="contactChoice2" name="contact" value="phone"><label for="contactChoice2">Modificar Producto</label>
              </div>           
            <select name="Categoria">
                <option value="Arbol de Leva">Arbol de Leva</option>
                <option value="Bomba de aceite" selected="">Bomba de aceite</option>
                <option value="Biela">Biela</option>
                <option value="Enfriador de aceite">Enfriador de aceite</option>
                <option value="Tapa de cilindro">Tapa de cilindro</option>
              </select><input id="forma" type="text" placeholder="Marca">
            <input id="forma" type="text" placeholder="Precio">
            <input id="forma" type="text" placeholder="Precio Oferta">
            <input id="forma" type="text" placeholder="Codigo de Producto">
            <input id="forma" type="text" placeholder="Stock">
            
            <button type="submit">Guardar datos de Producto</button>
            <button type="reset">Eliminar Campos</button>
        </form>


</main>
</body>
</html>