<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/abm.css">
</head>
<body id="clase">
<main >    
        <h1>Administrador de Productos</h1>
        <form action="/products" method="POST" enctype="multipart/form-data">
            <h2>Seleccione:</h2>
            <div id="caca">
                <input type="radio" id="contactChoice1" name="producto" value="Agregar Producto"><label for="contactChoice1">Agregar Producto</label>
            </div>
            <div id="caca2">
                <input type="radio" id="contactChoice2" name="producto" value="Modificar Producto"><label for="contactChoice2">Modificar Producto</label>           
            </div>
            <input id="forma" type="text" placeholder="Nombre de Producto" name="nombre">
            <select id="forma" name="categoria">
                <option value=1>Arbol de Leva</option>
                <option value=2>Bomba de aceite</option>
                <option value=3>Biela</option>
                <option value=4>Enfriador de aceite</option>
                <option value=5>Tapa de cilindro</option>
            </select>
            <textarea id="forma" name="descripcion" rows="10" cols="50" placeholder="Añada aqui la descripcion del Producto"></textarea>
            <div><p>Añada imagen del producto: </p></div>
            <input id="forma" type="file" placeholder="Imagen" name="imagen" >
            <input id="forma" type="text" placeholder="Marca" name="marca">
            <input id="forma" type="number" placeholder="Precio" name="precio">
            <input id="forma" type="number" placeholder="Descuento" name="descuento">
            <input id="forma" type="number" placeholder="Codigo de Producto" name="codigo">
            <input id="forma" type="number" placeholder="Stock" name="stock">
            
            <button type="submit">Guardar datos de Producto</button>
            <button type="reset">Eliminar Campos</button>
        </form>


</main>
</body>
</html>