<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <% 
        <article>
            mnuestra todos los productos 1     edit   
            mnuestra todos los productos 2     edit   
            mnuestra todos los productos 3     edit   
            mnuestra todos los productos 4     edit   
        </article>
    </section>
</body>
</html>