<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/carrito.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include("../partials/header") %>
    <main class="ficha">
        <p class="miga">ACA VA EL BREADCRUM</p>
    <div class="imagenes"><img src="images/arbol-leva2.webp" alt=""></div>
    <div class="contenido">
        <p class="titulo">Arbol De Leva</p>
        <P class="codigo">cod: 15956</P><br>
        <p class="descripcion">Duracion de la admision a 0.50 pulgadas de elevacion. <br>Elevacion de la valvula de admision 0in. <br>Elevacion de la valvula de escape 0in. <br>Importado de excelente calidad.</p><br>
        <p class="precio-anterior">$6.770</p>
        <p class="precio-nuevo">Oferta $6.093</p><br>
        <div class="cantidad">
            <div class="simbolos"><span>-</span></div>
        <input class="cuadro-cantidad" type="text">
        <div class="simbolos"><span>+</span></div><br>
    </div>
    <div>
        <button class="agregar" type="submit">Agregar</button>
    </div>
    <div class="icono-ficha">
    <div class="botones-ficha">
        <img src="images/icono-sucursal.png" alt="">
        <div>
            <h3>RETIRO GRATIS</h3>
            <p>en sucursal</p>
        </div>
    </div>
    <div class="botones-ficha">
        <img style="width: 100%;" src="images/WP-peque.png" alt="">
        <div class="guasap-ficha">
            <h3>2235049312</h3>
            <p>Consultanos</p>
        </div>
    </div>
    </div>
    </div>
    
</main>
<!--FOOTER PARTIAL-->
<%- include ("../partials/footer") %>

<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>