<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class="ficha">
        <p class="miga">ACA VA EL BREADCRUM</p>
    <div class="imagenes"><img src="images/arbol-leva2.webp" alt=""></div>
    <div class="contenido">
        <p class="titulo">Arbol De Leva</p>
        <P class="codigo">cod: 15956</P><br>
        <p class="descripcion">Duracion de la admision a 0.50 pulgadas de elevacion. <br>Elevacion de la valvula de admision 0in. <br>Elevacion de la valvula de escape 0in. <br>Importado de excelente calidad.</p><br>
        <p class="precio-anterior">$6.770</p>
        <p class="precio-nuevo">Oferta $6.093</p><br>
        <div class="cantidad">
            <div class="simbolos"><span>-</span></div>
        <input class="cuadro-cantidad" type="text">
        <div class="simbolos"><span>+</span></div><br>
    </div>
    <div>
        <button class="agregar" type="submit">Agregar</button>
    </div>
    <div class="icono-ficha">
    <div class="botones-ficha">
        <img src="images/icono-sucursal.png" alt="">
        <div>
            <h3>RETIRO GRATIS</h3>
            <p>en sucursal</p>
        </div>
    </div>
    <div class="botones-ficha">
        <img style="width: 100%;" src="images/WP-peque.png" alt="">
        <div class="guasap-ficha">
            <h3>2235049312</h3>
            <p>Consultanos</p>
        </div>
    </div>
    </div>
    </div>
    
</main>
<footer>
    <p class="seguinos">SEGUINOS EN REDES SOCIALES</p>
    <div class="redes">
        <div class="logo-rs">
            <img src="images/facebook.png" alt="Facebook">
        </div>
        <div class="logo-rs">
        <img src="images\logo-instagram-icon.webp" alt="Instagram">
        </div>
    </div>
    <div class="footer-principal" >
        <div class=footer-izq>
            <p>ATENCION AL CLIENTE</p>
            <p>Lunes a Viernes 9:00 a 18:00</p>
            <p>ventas@distriparts.com</p>        
        </div>
        <div class="footer-centr">
            <p>SEGUINOS EN REDES SOCIALES</p>
            <br>
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="footer-der">
            <p>Medios de Pago</p>
            <br>
            <p> Preguntas Frecuentes</p>
        </div>
    </div>
</footer>
<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>