<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            <h3>Tu Carrito</h3>
        </div>
        <section>
            <article>
                <img src="/images/biela.jpg" alt="Producto">
                <h3>Nombre del prducto</h3>
                <div>
                    <p>Cantidad</p>
                    <p>Contador</p>
                    <p>Subtotal</p>
                    <p>Espacio para precio</p>
                </div>
            </article>
            <article>
                <img src="/images/bomba-aceite.jpg" alt="Producto">
                <h3>Nombre del prducto</h3>
                <div>
                    <p>Cantidad</p>
                    <p>Contador</p>
                    <p>Subtotal</p>
                    <p>Espacio para precio</p>
                </div>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>