<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compra</title>
    <link rel="stylesheet" href="css/carrito.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/f863c75dec.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class='top-header'>
            <a href="/"><img src="images\logo-v3.jpeg" alt="DistriParts"></a>
            <div class="form" action="#" method="GET">
                <div class="input" ><i class="fa fa-search"></i> ¿Que repuesto estas buscando? </div>
            </div>
            <div class="user-cart">
            <a href="/acceso"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>         
        </div>
        <div class="header-sp">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>  
        <div class="menu">
            <p class="menu-p">ARBOLES DE LEVA</p>
            <p class="menu-p">ENFRIADORES DE ACEITE</p>
            <p class="menu-p">BIELAS</p>
            <p class="menu-p">BOMBAS DE ACEITE</p>
            <p class="menu-p">TAPAS DE CILINDRO</p>
        </div>
        <div class ="hambur"><i class="fa-solid fa-bars"></i></div>
    </header>
    <main>
            <h3 id="textoh3">Tu Carrito(2)</h3>
        <section>
            <article class="contenedor-padre1">
                <img src="/images/bomba-aceite.jpg" alt="Producto" class= "imagen1">
                <div class="detallePC">
                    <h3>BOMBA DE ACEITE</h3>
                    <button class="eliminarP" id="eliminado" type="submit"> -<i class="fa-solid fa-cart-shopping"></i></i></button>
                    </div>
                            <div id="cantsub">
                                    <h3 id="espacio">Cantidad</h3>
                                    <p class="cajita"><i class="fa-solid fa-sort"></i>1</p>
                            </div>
                            <div id="cantsub">
                                    <h3 id= "espacio">Subtotal</h3>
                                    <p class="cajita">$4.999</p>
                            </div>
                        
                    </div>
                </div>
            </article>
        </section>
        <section >
            <article class="totales">
                <h4 >TOTAL DE COMPRA</h4> <h4 class="cajita" id="pTotal">$9998</h4>
            </article>
        </section>
        <section class="contenedor-padre1">
            <article>
                
                <h2 id="cupon">¿TENES UN CUPON?</h2>
                <div class="form1">
                    <form  action="/codigo" method="post" >
                        <p>INGRESAR CODIGO</p>
                        <input type="text" name="codigo" id="codigo" >
                        <button  id="aplicar" type="submit">APLICAR</button>
                    </form>
                </div>
                
            </article>
            <article >
                <form action="/productDetail.html" method="get" id="botones" >
                    <button class="crear-cuenta" id="eleccionP" type="submit">Elegir mas productos</button>
                    <button class="crear-cuenta" id="continuarC" type="submit">Continuar Compra</button>
                </form>
            </article>
        </section>
    </main>
    <p class="seguinos">SEGUINOS EN REDES SOCIALES</p>
    <div class="redes">
        <div class="logo-rs">
        <img src="images/facebook.png" alt="Facebook">
        </div>
        <div class="logo-rs">
            <img src="images\logo-instagram-icon.webp" alt="Instagram">
        </div>
    </div>
    <footer>
        <p class="seguinos">SEGUINOS EN REDES SOCIALES</p>
        <div class="redes">
            <div class="logo-rs">
                <img src="images/facebook.png" alt="Facebook">
            </div>
            <div class="logo-rs">
            <img src="images\logo-instagram-icon.webp" alt="Instagram">
            </div>
        </div>
        <div class="footer-principal" >
            <div class=footer-izq>
                <p>ATENCION AL CLIENTE</p>
                <p>Lunes a Viernes 9:00 a 18:00</p>
                <p>ventas@distriparts.com</p>        
            </div>
            <div class="footer-centr">
                <p>SEGUINOS EN REDES SOCIALES</p>
                <br>
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="footer-der">
                <p>Medios de Pago</p>
                <br>
                <p> Preguntas Frecuentes</p>
            </div>
        </div>
    </footer>
    <div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>

