<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>DistriParts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/f863c75dec.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class='top-header'>
            <a href="/"><img src="images\logo-v3.jpeg" alt="DistriParts"></a>
            <div class="form" action="#" method="GET">
                <div class="input" ><i class="fa fa-search"></i> ¿Que repuesto estas buscando? </div>
            </div>
            <div class="user-cart">
            <a href="/acceso"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="menu">
            <p class="menu-p">PRODUCTOS</p>
            <p class="menu-p">MARCAS</p>
            <p class="menu-p">OFERTAS</p>
            <p class="menu-p">NOSOTROS</p>
            <p class="menu-p">CONTACTO</p>
        </div>
        <div class="header-sp">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
    </header>
    <main class="home">
        <div class="banner-temp">
            <div class="img-banner-oferta"><img src="/images/banner-ofertas.jpg" alt="Ofertas"></div>
            <div class="flecha-izq"><i class="fa-solid fa-circle-arrow-left"></i></div>
            <div class="flecha-der"><i class="fa-solid fa-circle-arrow-right"></i></div>
            <div class="mini-circle">
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            </div>
        </div>
<div class="barra-home">
    <div class="icono-tc">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <p>12 CUOTAS SIN INTERES</p>
    </div>
    <div class="barra-envios">
        <p>ENVIOS A TODO EL PAIS</p>
        <div class="camion1" ><i class="fa-solid fa-truck"></i></div>
        <div class="camion2"><i class="fa-solid fa-truck-fast"></i></div>
        <div class="camion3"><i class="fa-solid fa-truck-fast"></i></div>
    </div>
    </div>

</div>
    </main>
    <footer>
        <div class=footer-izq>
            <p>ATENCION AL CLIENTE</p>
            <p>Lunes a Viernes 9:00 a 18:00</p>
            <p>ventas@distriparts.com</p>        
        </div>
        <div class="footer-centr">
            <p>SEGUINOS EN REDES SOCIALES...</p>
            <br>
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="footer-der">
            <p>Medios de Pago</p>
            <br>
            <p> Preguntas Frecuentes</p>
        </div>
    </footer>
</body>
</html>
