<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>DistriParts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/f863c75dec.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class='top-header'>
            <img src="images\logo-v2.jpeg" alt="DistriParts">
            <div class="form" action="#" method="GET">
                <div class="input" ><i class="fa fa-search"></i> ¿Que repuesto estas buscando? </div>
            </div>
            <div class="user-cart">
            <a href="/acceso"><i class="fa-solid fa-user"></i></a>
            <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        <div class="menu">
            <p class="menu-p">PRODUCTOS</p>
            <p class="menu-p">MARCAS</p>
            <p class="menu-p">OFERTAS</p>
            <p class="menu-p">NOSOTROS</p>
            <p class="menu-p">CONTACTO</p>
        </div>
        <div class="header-sp">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
    </header>
    <main class="home">
<div>
    <img src="/images/banner-ofertas.jpg" alt="Ofertas">
    <h1><strong>Novedades</strong></h1>

</div>
    </main>
    <footer>
        <div class=footer-izq>
            <p>ATENCION AL CLIENTE</p>
            <p>Lunes a Viernes 9:00 a 18:00</p>
            <p>ventas@distriparts.com</p>        
        </div>
        <div class="footer-centr">
            <p>SEGUINOS EN REDES SOCIALES...</p>
            <br>
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="footer-der">
            <p>Medios de Pago</p>
            <br>
            <p> Preguntas Frecuentes</p>
        </div>
    </footer>
</body>
</html>