<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>DistriParts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/f863c75dec.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class='top-header'>
            <a class="logo-1" href="/"><img src="images/DistriPart movile.png" alt="DistriParts"></a>
            <a class ="logo-2" href="/"><img src="images/logo centralizado v2.png" alt="DistriParts"></a>
            <div class="form" action="#" method="GET">
                <div class="input" ><i class="fa fa-search"></i> ¿Que repuesto estas buscando? </div>
            </div>
            <div class="user-cart">
            <a href="/acceso"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>         
        </div>
        <div class="menu">
            <p class="menu-p">ARBOLES DE LEVA</p>
            <p class="menu-p">ENFRIADORES DE ACEITE</p>
            <p class="menu-p">BIELAS</p>
            <p class="menu-p">BOMBAS DE ACEITE</p>
            <p class="menu-p">TAPAS DE CILINDRO</p>
        </div>
        <div class ="hambur"><i class="fa-solid fa-bars"></i></div>
    </header>
    <main class="home">
        <div class="banner-temp">
            <div class="img-banner-oferta"><img src="/images/banner-ofertas.jpg" alt="Ofertas"></div>
            <div class="flecha-izq"><i class="fa-solid fa-circle-arrow-left"></i></div>
            <div class="flecha-der"><i class="fa-solid fa-circle-arrow-right"></i></div>
            <div class="mini-circle">
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            </div>
        </div>
<div class="barra-home">
    <div class="icono-tc">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <p>12 CUOTAS SIN INTERES</p>
    </div>
    <div class="barra-envios">
        <p>ENVIOS A TODO EL PAIS</p>
        <div class="camion1" ><i class="fa-solid fa-truck"></i></div>
        <div class="camion2"><i class="fa-solid fa-truck-fast"></i></div>
        <div class="camion3"><i class="fa-solid fa-truck-fast"></i></div>
    </div>
</div >
    <section>
        <h2>NUESTRAS OFERTAS</h2>  
        <div class="wrapper">    
            <article >
                    <img src="\images\arbol-de-leva.webp" alt="arbol-de-leva ">
                    <div class="relleno">NUEVAS OFERTAS</div>
                    <div class="nombre-producto"><p>Arbol de leva</p></div>
                    <div class="row"><span class="before">$6.770</span></div>
                    <div class="row"><span class="precio-ahora">$6.093<strong class="descuento" >10% OFF</strong></span> </div>
                    <span class="cuotas">12 CUOTAS SIN INTERES  <i class="fa-solid fa-credit-card"></i></span>
                    <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i> </button></div>
           </article>
           <article>
            <img src="\images\biela.jpg" alt="biela">
            <div class="relleno">NUEVAS OFERTAS</div>
            <div class="nombre-producto"><p>Biela</p></div>
            <div class="row"><span class="before">$12.459</span></div>
            <div class="row"><span class="precio-ahora">$9.967 <strong class="descuento" >20% OFF</strong></span></div>
            <span class="cuotas">12 CUOTAS SIN INTERES<i class="fa-solid fa-credit-card"></i></span>
            <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i> </button></div>
           </article>
           <article>
            <img src="\images\bomba-aceite.jpg" alt="bomba aceite">
            <div class="relleno">NUEVAS OFERTAS</div>
            <div class="nombre-producto"><p>Bomba de Aceite</p></div>
            <div class="row"><span class="before">$17.699</span></div>
            <div class="row"><span class="precio-ahora">$12.389 <strong class="descuento" >30% OFF</strong></span></div>
            <span class="cuotas">12 CUOTAS SIN INTERES<i class="fa-solid fa-credit-card"></i></span>
            <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i></button></div>
            </article>
            <article>
            <img src="\images\tapa-cilindro.webp" alt="Tapa de Cilindro">
            <div class="relleno">NUEVAS OFERTAS</div>
            <div class="nombre-producto"><p>Tapa de Cilindro</p></div>
            <div class="row"><span class="before">$15.999</span></div>
            <div class="row"> <span class="precio-ahora">$14.399<strong class="descuento" >10% OFF</strong></span></div>
            <span class="cuotas">12 CUOTAS SIN INTERES<i class="fa-solid fa-credit-card"></i></span>
            <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i> </button></div>
            </article>
            <article>
            <img src="\images\enfriador-aceite.webp" alt="enfriador de aceite">
            <div class="relleno">NUEVAS OFERTAS</div>
            <div class="nombre-producto"><p>Enfriador de Aceite</p></div>
            <div class="row"> <span class="before">$10.999</span></div>
            <div class="row"><span class="precio-ahora">$9.349 <strong class="descuento" >15% OFF</strong></span></div>
            <span class="cuotas">12 CUOTAS SIN INTERES<i class="fa-solid fa-credit-card"></i></span>
            <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i></button></div>
            </article>
            <img class="banner-inferior" src="/images/banner inferior.jpg" alt="">
    </div>
    </section>
    </main>
    <footer>
        <p class="seguinos">SEGUINOS EN REDES SOCIALES</p>
        <div class="redes">
            <div class="logo-rs">
                <img src="images/facebook.png" alt="Facebook">
            </div>
            <div class="logo-rs">
            <img src="images\logo-instagram-icon.webp" alt="Instagram">
            </div>
        </div>
        <div class="footer-principal" >
            <div class=footer-izq>
                <p>ATENCION AL CLIENTE</p>
                <p>Lunes a Viernes 9:00 a 18:00</p>
                <p>ventas@distriparts.com</p>        
            </div>
            <div class="footer-centr">
                <p>SEGUINOS EN REDES SOCIALES</p>
                <br>
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="footer-der">
                <p>Medios de Pago</p>
                <br>
                <p> Preguntas Frecuentes</p>
            </div>
        </div>
    </footer>
    <div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>
