<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Creá tu cuenta</title>
</head>
<body>
    <div class="login-box">
        <h1>Login</h1>
        <form>
            <label>Email</label>
            <input type="email" placeholder="">
            <label>Contrasena</label>
            <input type="password" placeholder="">
            <input type="button" value="Ingresar">
        </form>
    </div>
    <p class="para-registrarse">No tenes cuenta?<a href="register.html"> Registrate aqui </a> </p>
</body>
</html>