<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Bienvenidos a DistriParts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/f863c75dec.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class='top-header'>
            <a href="/"><img src="images\logo-v3.jpeg" alt="DistriParts"></a>
            <div class="form" action="#" method="GET">
                <div class="input" ><i class="fa fa-search"></i> ¿Que repuesto estas buscando? </div>
            </div>
            <div class="user-cart">
            <a href="/acceso"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="menu">
            <p class="menu-p">PRODUCTOS</p>
            <p class="menu-p">MARCAS</p>
            <p class="menu-p">OFERTAS</p>
            <p class="menu-p">NOSOTROS</p>
            <p class="menu-p">CONTACTO</p>
        </div>
        <div class="header-sp">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
    </header>
    <main class="ficha">
    <p class="ruta">ACA VA EL BREADCRUM</p>
    <h2 class="nombreProducto">ARBOLES DE LEVA</h2>
     <h4 class="descripcionProducto">ACA VA LA DESCRIPCION DEL PRODUCTO</h4> 
     <p class="precio">$$$$$$ ACA VA EL PRECIO DEL PRODUCTO</p>
    <div class="imagenes"><img src="images/arboldeleva.webp" alt=""></div>
</main>
<p class="seguinos">SEGUINOS EN REDES SOCIALES</p>
<div class="redes">
    <div class="logo-rs">
        <img src="images/facebook.png" alt="Facebook">
    </div>
    <div class="logo-rs">
        <img src="images\logo-instagram-icon.webp" alt="Instagram">
    </div>
</div>
<footer>
    <div class=footer-izq>
        <p>ATENCION AL CLIENTE</p>
        <p>Lunes a Viernes 9:00 a 18:00</p>
        <p>ventas@distriparts.com</p>        
    </div>
    <div class="footer-centr">
        <p>SEGUINOS EN REDES SOCIALES...</p>
        <br>
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="footer-der">
        <p>Medios de Pago</p>
        <br>
        <p> Preguntas Frecuentes</p>
    </div>
</footer>
</body>
</html>