<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Bienvenidos a DistriParts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/f863c75dec.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class='top-header'>
            <a href="/"><img src="images\logo-v3.jpeg" alt="DistriParts"></a>
            <div class="form" action="#" method="GET">
                <div class="input" ><i class="fa fa-search"></i> ¿Que repuesto estas buscando? </div>
            </div>
            <div class="user-cart">
            <a href="/acceso"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="menu">
            <p class="menu-p">ARBOLES DE LEVA</p>
            <p class="menu-p">ENFRIADORES DE ACEITE</p>
            <p class="menu-p">BIELAS</p>
            <p class="menu-p">BOMBAS DE ACEITE</p>
            <p class="menu-p">TAPAS DE CILINDRO</p>
        </div>
        <div class="header-sp">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
    </header>
    <main class="ficha">
        <p class="miga">ACA VA EL BREADCRUM</p>
    <div class="imagenes"><img src="images/arbol-leva2.webp" alt=""></div>
    <div class="contenido">
        <p class="titulo">Arbol De Leva</p>
        <P class="codigo">cod: 15956</P><br>
        <p class="descripcion">Duracion de la admision a 0.50 pulgadas de elevacion. <br>Elevacion de la valvula de admision 0in. <br>Elevacion de la valvula de escape 0in. <br>Importado de excelente calidad.</p><br>
        <p class="precio-anterior">$6.770</p>
        <p class="precio-nuevo">Oferta $6.093</p><br>
        <div class="cantidad">
            <div class="simbolos"><span>-</span></div>
        <input class="cuadro-cantidad" type="text">
        <div class="simbolos"><span>+</span></div>
    </div>
        <button class="agregar" type="submit">Agregar</button>
    </div>
    
</main>
<footer>
    <div class=footer-izq>
        <p>ATENCION AL CLIENTE</p>
        <p>Lunes a Viernes 9:00 a 18:00</p>
        <p>ventas@distriparts.com</p>        
    </div>
    <div class="footer-centr">
        <p>SEGUINOS EN REDES SOCIALES</p>
        <br>
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="footer-der">
        <p>Medios de Pago</p>
        <br>
        <p> Preguntas Frecuentes</p>
    </div>
</footer>
<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>