*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

.imagenes{
width: 35%;
padding: 5px;
border: 1px solid black;
text-align: left;
}

.precio{
    display: inline-block;
}

.logo{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 255, 0.819) ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.imagen{
    max-width: 281px;
    max-height: 281px;
    align-items: flex-end;
}

header ul{
    font-size: 12px;
    margin-left: 20px;
}

footer{
    text-align: left;
    background-color: rgba(0, 0, 255, 0.819);
}

.busqueda{
    height: 26px;
    flex-grow: 50%;
}