.ficha{
    box-sizing: border-box;
}
.miga{
    text-align: left;
    padding: 30px;
}
.imagenes{
width: 35%;
padding: 10px;
border: 1px solid black;
margin-left: 150px;
margin-bottom: 250px;
float: left;
}
.imagenes img{
    width: 80%;
    height: auto;
}
.contenido{
    width: 48%;
    float: right;
    text-align: left;
}
.titulo{
    font-size: 30px;
    color: #3321c5;
}
.descripcion{
    font-size: 20px;
}
.precio-anterior{
    font-size: 20px;
    text-decoration: line-through;
}
.precio-nuevo{
    font-size: 30px;
    color: red;
}
.simbolos{
    width: 38px;
    height: 38px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    background-color: white;
}
.cuadro-cantidad{
    height: 38px;
    width: 50px;
    border: 1px solid #ccc;
    text-align: center;
}
.cantidad{
    display: flex;
    gap: 7px;
}
.agregar{
    width: 40%;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #3f51b5;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    border: solid 1px #3f51b5;
}
.logo{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 255, 0.819) ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.imagen{
    max-width: 281px;
    max-height: 281px;
    align-items: flex-end;
}

.busqueda{
    height: 26px;
    flex-grow: 50%;
}


.login-box{
    width: 360px;
    height: 280px;
    margin:auto;
    border-radius: 3px;
    background-color:white;
}

h1{
    text-align: center;
    padding-top: 15px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding:7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #7b7d7d;
    background-color: #e7e7e7;
    text-align: center;
    font-family: "Roboto", sans-serif, san -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}
main h2{
    color:#e7e7e7;
    -webkit-text-stroke: 0.0002px black;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top:0px;
    background-image: url(https://thumbs.dreamstime.com/b/llamas-azules-del-fuego-49856938.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 65% 65%;  
}
.form-reg{
    width: 400px;
    padding: 30px 0px;
    margin: auto;
    border: solid 5 px black;
}
h4{
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-top: solid 3px black;
    }

.campos{
    width: 80%;
    padding: 10px;
    border: solid 3px black;
    margin-bottom: 16px;
    font-size: 15px;
    text-align: center;
    background-color:  white ;
}
.redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 20%;
}
.logo-rs img{
    width: 70px;
}
.seguinos{
    margin-bottom: 15px;
    color:  #3f51b5;
    font-size: 22px;
    font-weight: bold;
}
.crear-cuenta{
    width: 80%;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 15px;
    background-color:  #3f51b5 ;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    border: solid 1px #3f51b5;

}
.agregar-compra{
    width: 55%;
    height: 5%;
    padding: 8px;
    background-color:  #3f51b5 ;
    color: white;
    font-size: 8px;
    font-weight: bold;
    border-radius: 5px;
    border: solid 1px #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 450ms;
}
.agregar-compra:hover{
    width: 57%;
    background-color: green;
    border: solid 1px green;
}
#sa{
    display: flex;
    justify-content: center;
    align-items: center
}
.ingresar{
    margin-top: 30px;
}
.para-registrarse{
    margin-bottom: 30px;
}

.borrar{
    width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    background-color:  white ;
    color: #3f51b5;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    border: solid 1px #3f51b5;
}
.top-header img{
    width: 100px;
    margin: 5px 20px;
}
.top-header{
    display: none;
    background-color: #3321c5;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.user-cart{
    font-size: 2.5em;
    margin-right: 15px;
}
.form{
    display:flex
}
.input {
    border: 1.5px solid white;
    margin: 7px;
    padding: 5px;
    background-color: white;
    color: #566573;
}
.form .input i{
    font-size: 0.75em;
    margin-right: 9px;
    margin-left: 2px;
}
.menu{
    display: none;
    flex-wrap: wrap;
    background-color: #3321c5;
    color: white;
    justify-content: center;
}
.menu-p{
    border: whitesmoke 1px solid;
    background-color:  #303f9f ;
    padding: 10px;
    margin-bottom: 10px;
    width: 140px;
    margin-right: 15px;
}
.top-header a{
    color: white;
}

footer{
    background-color: #3321c5;
    color: white;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    display: none;
    clear: both;
}
.footer-izq{
    text-align: left;
}
.footer-centr{
    text-align: center;
}
.footer-der{
    text-align: right;
}
.footer-centr i{
    font-size: 1.7em;
    margin: 0 15px;
}
.guasap{
   position: fixed;
   padding: 15px;
   bottom: 20px;
   right: 20px;
   background-color: #00a82d;
   border-radius: 100%;
}
.guasap i{
    font-size: 30px;
    color: white;
}
.header-sp{
    background-color: #3321c5;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end;   
}
.header-sp i{
    font-size: 1.5em;
    color: white;
    margin: 15px 30px;
}
.barra-home{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #3321c5;
    justify-content: space-between;
    margin: 0px;
}
.icono-tc{
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    padding: 5px;
    justify-content: center;
}
.icono-tc:hover i{
    color: #3321c5;
    font-size: 2em;
    transition: all 0.5s;
}
.barra-envios{
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    justify-content: center;
    padding: 5px;

}
.barra-envios:hover .camion1,
.barra-envios:hover .camion2,
.barra-envios:hover .camion3{
    color: #3321c5;
    font-size: 22px;
    transition: all 0.5s;
}
.camion1{
    display: flex;
    padding: 0 1%;
    opacity: 25%;
}
.camion2{
    display: flex;
    padding: 0 1%;
    opacity: 50%;
}
.camion3{
    display: flex;
    padding: 0 1%;
    opacity: 100%;
}  
.barra-home p ,
.barra-home i{
    padding: 0 1%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.barra-home i{
    font-size: 1.5em;
}
.banner-temp{
    display: none;
    position: relative;
}
.img-banner-oferta{
    display: flex;
    position: relative;
    width: 100%;
}
.img-banner-oferta img{
    width: 100%;
}
.banner-inferior{
    width: 100%;
    height: 65%;
}
.flecha-izq{
    display: flex;
    position: absolute;
    left: 25px;
    bottom: 95px;
    font-size: 2em;
    opacity: 0;
}
.flecha-der{
    display: flex;
    position: absolute;
    right: 25px;
    bottom: 95px;
    font-size: 2em;
}
.banner-temp:hover .flecha-izq{
    opacity: 100%;
}
.flecha-izq:hover{
    color: #3321c5;
    font-size: 3em;
    bottom: 85px;
    transition: 0.5s;
}
.flecha-der:hover{
    color: #3321c5;
    font-size: 3em;
    bottom: 85px;
    transition: 0.5s;
}
.mini-circle{
    display: flex;
    position: absolute;
    bottom: 10px;
    margin: 0 45%;
}
.mini-circle i{
    margin: 0 25px;
    font-size: 0.75em;
}
section .wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 75px;
}
article .relleno {
    background-color: green;
    width: 45%;
    margin-right: 15%;
    color:#e7e7e7;
    font-weight: bold;
    border-radius: 1%;
    margin-left: 6%;
    margin-top: 3px;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
    font-size: 8px;
}
section .wrapper article {
    background-color: white;
    width: 275px;
    height: 475px;
    margin-left: 2px;
    /*border:#3f51b5 solid 2px;*/
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 3%;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
    display: flex;
    transition: box-shadow widht height 950ms;
}
section .wrapper article:hover{
    box-shadow: 0 5px 7px 0 rgb(0 0 0 / 35%);
    width: 285px;
    height: 477px;
}
section .wrapper article .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;
    margin-top:15px;
    margin-bottom: 7px;    
}
section .wrapper article .nombre-producto {
    font-size: 2em;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    background-color: #3321c5;
    margin-left: 4px;
    margin-right: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
section .wrapper article .row .before{
    text-decoration: line-through;
    font-size: 14px;
    color: #666;
}
section .wrapper article .row .label-antes{
    color: black;
    font-size: 20px;
    display: flex;
    margin-right: 15px;
}
section .wrapper article .row .label-ahora{
    color: black;
    font-size: 22px;
    margin-right: 2px;
    display: flex;
    margin-right: 15px;
}
section .wrapper article .row .precio-ahora{
    color: black;
    font-size: 35px;
    display: flex;
    margin-top: -20px;
}
.descuento{
    color: #3321c5;
    font-size: 18px;
}
section .wrapper article .cuotas{
    color: #3321c5;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.cuotas i{
    display: flex;
    margin-left: 10px;
}
/*article:hover .label-ahora{
    color: ;

}*/
section .wrapper article img{
    width: 100%;
    height: 50%;
    margin: 1px;
    border-bottom:rgba(0, 0, 255, 0.3) solid 1px;
    border-radius: 3% 3% 0 0;
    opacity: 90%;
    transition: opacity 750ms;
}
section .wrapper article img:hover {
    opacity: 100%;
}
section .wrapper article div p{
    border-radius: 14%;
    color: white;
    font-size: 30px;
}
section .wrapper article div .div1 {
    display: flex;
    flex-direction: row;
}
@media (min-width: 769px) {
    footer {
        display:flex;
    }
    .seguinos ,
    .redes{
        display: none;
    }
    .menu{
        display: flex;
    }
    .banner-temp{
        display: flex;
    }
    
}
@media (min-width: 481px) {
    .header-sp{
        display: none;
    }
    .top-header{
        display: flex;
    }    
}

.contenedor-padre1{
    text-align: center;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.textoh3{
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
    color: black;
    -webkit-text-stroke: 1px white;    
}
.imagen1{
    opacity: 88%;
    transition: opacity box-shadow 750ms;
    margin-left: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 0%;
    width: 25%;
    height: 25%;
}
.imagen1:hover {
    opacity: 100%;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
}
.dif2 h3{
    color: black;
    font-size: 28px;
    margin-bottom: 30%;
}
.dif2{
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    margin:7% 0% 7% 0%;
    content: 30%
}
.dif {
    display: flex;
    margin-left: 5%;
    flex-direction:row;   
}
.dif2 button{
    width: 50;
}
#cajita{
    border:solid 2px black;
    border-radius: 10%;
    font-weight: bold;
}
.dif2 div div {
    margin: 7% 0% 7% 0%;
}
.dif2 h5 {
    margin-bottom: 90%;
}
#espacio{
    margin-bottom: 90%;
}
#kassy{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    width: 40%;
    text-align: center;
}
.dif3{
    border: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

#kassy2{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    width: 40%;
    text-align: center;
}
#kassy2:hover{
    border-radius: 20%;
}
