*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

.imagenes{
width: 35%;
padding: 5px;
border: 1px solid black;
text-align: left;
}

.precio{
    display: inline-block;
}

.logo{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 255, 0.819) ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.imagen{
    max-width: 281px;
    max-height: 281px;
    align-items: flex-end;
}

header ul{
    font-size: 12px;
    margin-left: 20px;
}

footer{
    text-align: left;
    background-color: rgba(0, 0, 255, 0.819);
}

.busqueda{
    height: 26px;
    flex-grow: 50%;
}

body{
    background-color: rgba(0, 0, 255, 0.819) ;
    font-family:sans-serif;
}

.login-box{
    width: 360px;
    height: 280px;
    margin:auto;
    border-radius: 3px;
    background-color:white;
}

h1{
    text-align: center;
    padding-top: 15px;
}

form{
    width:360px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding:7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}