<header>
    <div class='top-header'>
        <a class="logo-1" href="/"><img src="images/DistriPart movile.png" alt="DistriParts"></a>
        <a class ="logo-2" href="/"><img src="images/logo centralizado v2.png" alt="DistriParts"></a>
        <div class="form" action="#" method="GET">
            <div class="input" ><i class="fa fa-search"></i> ¿Que repuesto estas buscando? </div>
        </div>
        <div class="user-cart">
        
        <% if(locals.userLogin){ %>
            <a href="#" style= "font-size : 12px">
                <img src="\images\user\<%=locals.userLogged.imagen%>" style="border-radius: 100% ; width: 40px"></img>
                Hola, <%=locals.userLogged.nombre%>!
            </a>
            <a style= "font-size : 12px" href="/user/profile">Perfil</a>
            <a style= "font-size : 12px" href="/logout">Cerrar sesión</a>
            <%}else{ %>
            <a href="/acceso" ><i class="fa-solid fa-user"></i></a>
            <%}%>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>         
    </div>
    <div class="menu">
        <p class="menu-p">ARBOLES DE LEVA</p>
        <p class="menu-p">ENFRIADORES DE ACEITE</p>
        <p class="menu-p">BIELAS</p>
        <p class="menu-p">BOMBAS DE ACEITE</p>
        <p class="menu-p">TAPAS DE CILINDRO</p>
    </div>
    <div class ="hambur"><i class="fa-solid fa-bars"></i></div>
</header>
