<footer>
    <p class="seguinos">SEGUINOS EN REDES SOCIALES</p>
    <div class="redes">
        <div class="logo-rs">
            <img src="images/facebook.png" alt="Facebook">
        </div>
        <div class="logo-rs">
        <img src="images\logo-instagram-icon.webp" alt="Instagram">
        </div>
    </div>
    <div class="footer-principal" >
        <div class=footer-izq>
            <p>ATENCION AL CLIENTE</p>
            <p>Lunes a Viernes 9:00 a 18:00</p>
            <p>ventas@distriparts.com</p>        
        </div>
        <div class="footer-centr">
            <p>SEGUINOS EN REDES SOCIALES</p>
            <br>
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="footer-der">
            <p>Medios de Pago</p>
            <br>
            <p> Preguntas Frecuentes</p>
        </div>
    </div>
</footer>