<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bruno.css">
</head>
<body>
    
    <main>
    <h1 style="background-color: orange; margin: 0%;">
        <button class="error"><a class= "errorhref" href="/">Volver a la web</h1></a></button>
    <img src="../../images/error-404-1862483.webp" alt="" style="width: 100%; height: 100%;">
    


</main> 



</body>
</html>