<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bruno.css">
</head>
<body>
    <%- include("../partials/header") %>
    <main>
    <h1>Ups pagina no encontrada</h1>
    <img src="/public/images/error-404-1862483.webp" alt=""><br>
    <p>Probablemente has requerido una pagina inexistente, haz click en el siguiente boton para volver a la pagina inicial</p>


</main> 
<%- include ("../partials/footer") %>


</body>
</html>