<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class="home">
        <div class="banner-temp">
            <div class="img-banner-oferta"><img src="/images/banner-ofertas.jpg" alt="Ofertas"></div>
            <div class="flecha-izq"><i class="fa-solid fa-circle-arrow-left"></i></div>
            <div class="flecha-der"><i class="fa-solid fa-circle-arrow-right"></i></div>
            <div class="mini-circle">
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            </div>
        </div>
<div class="barra-home">
    <div class="icono-tc">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <p>12 CUOTAS SIN INTERES</p>
    </div>
    <div class="barra-envios">
        <p>ENVIOS A TODO EL PAIS</p>
        <div class="camion1" ><i class="fa-solid fa-truck"></i></div>
        <div class="camion2"><i class="fa-solid fa-truck-fast"></i></div>
        <div class="camion3"><i class="fa-solid fa-truck-fast"></i></div>
    </div>
</div >
    <section>
        <h2>NUESTRAS OFERTAS</h2>  
        <div class="wrapper">    
            <article >
                    <img src="\images\arbol-de-leva.webp" alt="arbol-de-leva ">
                    <div class="relleno">NUEVAS OFERTAS</div>
                    <div class="nombre-producto"><p>Arbol de leva</p></div>
                    <div class="row"><span class="before">$6.770</span></div>
                    <div class="row"><span class="precio-ahora">$6.093<strong class="descuento" >10% OFF</strong></span> </div>
                    <span class="cuotas">12 CUOTAS SIN INTERES  <i class="fa-solid fa-credit-card"></i></span>
                    <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i> </button></div>
           </article>
           <article>
            <img src="\images\biela.jpg" alt="biela">
            <div class="relleno">NUEVAS OFERTAS</div>
            <div class="nombre-producto"><p>Biela</p></div>
            <div class="row"><span class="before">$12.459</span></div>
            <div class="row"><span class="precio-ahora">$9.967 <strong class="descuento" >20% OFF</strong></span></div>
            <span class="cuotas">12 CUOTAS SIN INTERES<i class="fa-solid fa-credit-card"></i></span>
            <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i> </button></div>
           </article>
           <article>
            <img src="\images\bomba-aceite.jpg" alt="bomba aceite">
            <div class="relleno">NUEVAS OFERTAS</div>
            <div class="nombre-producto"><p>Bomba de Aceite</p></div>
            <div class="row"><span class="before">$17.699</span></div>
            <div class="row"><span class="precio-ahora">$12.389 <strong class="descuento" >30% OFF</strong></span></div>
            <span class="cuotas">12 CUOTAS SIN INTERES<i class="fa-solid fa-credit-card"></i></span>
            <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i></button></div>
            </article>
            <article>
            <img src="\images\tapa-cilindro.webp" alt="Tapa de Cilindro">
            <div class="relleno">NUEVAS OFERTAS</div>
            <div class="nombre-producto"><p>Tapa de Cilindro</p></div>
            <div class="row"><span class="before">$15.999</span></div>
            <div class="row"> <span class="precio-ahora">$14.399<strong class="descuento" >10% OFF</strong></span></div>
            <span class="cuotas">12 CUOTAS SIN INTERES<i class="fa-solid fa-credit-card"></i></span>
            <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i> </button></div>
            </article>
            <article>
            <img src="\images\enfriador-aceite.webp" alt="enfriador de aceite">
            <div class="relleno">NUEVAS OFERTAS</div>
            <div class="nombre-producto"><p>Enfriador de Aceite</p></div>
            <div class="row"> <span class="before">$10.999</span></div>
            <div class="row"><span class="precio-ahora">$9.349 <strong class="descuento" >15% OFF</strong></span></div>
            <span class="cuotas">12 CUOTAS SIN INTERES<i class="fa-solid fa-credit-card"></i></span>
            <div id="sa"><button class="agregar-compra" type="submit">AGREGAR + <i class="fa-solid fa-cart-shopping"></i></button></div>
            </article>
            <img class="banner-inferior" src="/images/banner inferior.jpg" alt="">
    </div>
    </section>
    </main>
    <!--FOOTER PARTIAL-->
    <%- include ("../partials/footer") %>

    <div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>
