<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Creá tu cuenta</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/f863c75dec.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class='top-header'>
            <a class="logo-1" href="/"><img src="images/DistriPart movile.png" alt="DistriParts"></a>
            <a class ="logo-2" href="/"><img src="images/logo centralizado v2.png" alt="DistriParts"></a>
            <div class="form" action="#" method="GET">
                <div class="input" ><i class="fa fa-search"></i> ¿Que repuesto estas buscando? </div>
            </div>
            <div class="user-cart">
            <a href="/acceso"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>         
        </div>
        <div class="menu">
            <p class="menu-p">ARBOLES DE LEVA</p>
            <p class="menu-p">ENFRIADORES DE ACEITE</p>
            <p class="menu-p">BIELAS</p>
            <p class="menu-p">BOMBAS DE ACEITE</p>
            <p class="menu-p">TAPAS DE CILINDRO</p>
        </div>
        <div class ="hambur"><i class="fa-solid fa-bars"></i></div>
    </header>
    <div class="login-box">
        <h1>Ingresá</h1>
        <form>
            <input class="campos" type="email" placeholder="Email">
            <input class="campos" type="password" placeholder="Contraseña">
            <input class="ingresar" type="button" value="Ingresar">
        </form>
    </div>
    <p class="para-registrarse">No tenes cuenta?<a href="/registro"> Registrate aqui </a> </p>
    <p class="recuperar-pass" >¿Olvidaste tu clave? Hace click <a href="#">AQUI</a></p>

    <!--FOOTER PARTIAL-->
    <%- include ("../partials/footer") %>
    
    <div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>