<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/carrito.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/validacionesLogin.js"></script>
</head>
<body>
    <%- include("../partials/header") %>
    <div class="login-box">
        <% if(locals.errors && errors.email) { %>
            <div>
                <p style="color: red"><%= errors.email.msg %></p>
            </div>
        <% } %>
        <h1>Ingresá</h1>
        <ul class="errors">
        </ul>
        <form method="POST" action="/acceso">
            <input class="campos" type="text" id="email"name="email" placeholder="Email">
            <input class="campos" type="password" id="password" name="password" placeholder="Contraseña">
            <button class="ingresar" id="ingresar"type="submit">Ingresar</button>
        </form>
    </div>
    <p class="para-registrarse">No tenes cuenta?<a href="/registro"> Registrate aqui </a> </p>
    <p class="recuperar-pass" >¿Olvidaste tu clave? Hace click <a href="#">AQUI</a></p>

    <!--FOOTER PARTIAL-->
    <%- include ("../partials/footer") %>
    
    <div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>